@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  background: #fafafa;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  margin-top: 100px;
}

.container h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 10px;
  font-size: 13px;
}

.underline {
  margin-bottom: 50px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.06);
}

.todos {
  list-style: none;
}

.todos-item {
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
}

.todos-item-show {
  width: 100%;
  height: 100%;
  display: flex;
}

.todos-item-show h4 {
  flex: 1;
}

.todos-item-form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.todos-item-form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.todos-item-form input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.todo-container {
  width: 100%;
  height: 100%;
}

.todo-container h3 {
  margin-bottom: 10px;
}

.todo-form {
  width: 100%;
  height: 40px;
  display: flex;
}

.todo-form input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 0 2px;
}

.todo-form button {
  padding: 0 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.not-found-message {
  margin-bottom: 50px !important;
}

i {
  cursor: pointer;
}
